snippet help_goal "Selfdocumenting makefile help action" b
.DEFAULT_GOAL := help
.PHONY: help

help: ## Self Documenting help function. https://marmelab.com/blog/2016/02/29/auto-documented-makefile.html
	@grep -E '^[a-zA-Z_-]+:.*?## .*$$' $(MAKEFILE_LIST) | sort | awk 'BEGIN {FS = ":.*?## "}; {printf "\033[36m%-30s\033[0m %s\n", $$1, $$2}'

$0
endsnippet

snippet "^(\w+):?" "Self documenting, makefile goal" rt
${1:\1}: ## ${2:HelpText}
	$3

$0
endsnippet
