snippet tf-docs-place-holder "PLace holder for Tf docs template insersion"
<!-- BEGINNING OF PRE-COMMIT-TERRAFORM DOCS HOOK -->

<!-- END OF PRE-COMMIT-TERRAFORM DOCS HOOK -->
endsnippet

snippet doctoc-place-holder "Place holder for doc TOC snippets"
<!-- START doctoc -->
<!-- END doctoc -->
endsnippet

snippet codeblock "Code block" iA

\`\`\`${1:language}
${2:code}
\`\`\`

${3}
endsnippet
