snippet "Pl?u?g?i?n" "Vundle Plugin" r
Plugin '$1'
$0
endsnippet

snippet "Pl?u?g?i?n" "VIM Pluged Plugin" r
Plug '$1'
$0
endsnippet


snippet "SEC" "Auto SECTION" rbA
" SECTION: ${1:title} {{{(${2:level}
$0
endsnippet
