[submodule "drupal-snippets"]
	path = bundle/drupal-snippets
	url = ssh://git@github.com/sanguis/drupal-snippets.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
