[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/drupal-snippets"]
	path = bundle/drupal-snippets
	url = git@github.com:sanguis/drupal-snippets.git
  branch = 'master'
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = git@github.com:mhinz/vim-signify.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/jshint"]
	path = bundle/jshint
	url = https://github.com/walm/jshint.vim.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git@github.com:leshill/vim-json.git
[submodule "bundle/tmux-complete"]
	path = bundle/tmux-complete
	url = git@github.com:wellle/tmux-complete.vim.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
