[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/drupal-snippets"]
	path = bundle/drupal-snippets
	url = git@github.com:sanguis/drupal-snippets.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = git@github.com:mhinz/vim-signify.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
